include header

div.container
    div.row
        div.col
            ul.navbar-nav
                li.nav-item
                    a(href='/cat?id=1', class='nav-link') Ноутбуки
                li.nav-item
                    a(href='/cat?id=2', class='nav-link') Телефоны



include nav
include footer
