div.container
    div.row
        div.col.col-lg-12
            div.site-nav.bg-light.box-shadow
                div.d-flex.justify-content-end
                    button.btn.btn-dark.close-nav.ml-auto
                        i(class="fa fa-close")
                h3 Goods
                div#category-list
                h3 Cart
                div#cart-nav
                div
                    a(
                        href='/order',
                        target='_blank',
                        rel='noopener'
                    )
                        button(class='btn btn-dark') Order
