include header-order
div.container
    div.row
        div.col.col-lg-6.m-auto
            h3.h3 Cart
            div#cart-nav
            h3.h3 Create order
            form.form#form(action='')
                div.form-group
                    label(for='username') Name
                    input(type='text', id='username', placeholder='Enter your name', class='form-control', required)
                div.form-group
                    label(for='phone') Phone
                    input(type='text', id='phone', placeholder='+0505050505', class='form-control', required)
                div.form-group
                    label(for='email') Email
                    input(type='text', id='email', placeholder='mail@example.com', class='form-control', required)
                div.form-group
                    label(for='address') Address
                    input(type='text', id='address', placeholder='Where are you', class='form-control', required)
                div.form-group
                    button(class="btn btn-dark", type='submit') FINISH ORDER
    include footer
